@mixin extra_small_screen {
    @media only screen and (max-width: 320px) {
       @content
    }
}

@mixin small_screen {
    @media only screen and (max-width: 480px) {
      @content 
    }
}

@mixin medium_screen {
    @media only screen and (max-width: 680px) {
      @content 
    }
}

@mixin large_screen {
    @media only screen and (max-width: 980px) {
       @content
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin web_icon {
    width: 30px;
    height: 30px;
    padding: 0 10px;
}





















