$bg_color: #272333;
$table_bg_color: #302c40;
$icon_bg_color: #5b6174;
$text_color: #F1F2F4;
$border: 2px solid #0d86ff;
$border_radius: 10px;
$table_font_size: 16px;
$main_width: 80%;
$main_height: 1024;
$box_shadow: 0px 40px 50px #271631;
$text_algn: center;
$transition: all ease-in-out 0.5s;
$margin: 0 auto;
